.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: grey;
}

.face {
  width: 35px;
  padding-right: 5px;

}

.faceBin {
  display: flex;
  flex-direction: row;
  border-right: 1px solid rgb(175, 170, 170);
  margin-left: 52px;
  padding-right: 15px;

}

.bell {
  font-size: 25px;
  padding-left: 15px;
  padding-top: 5px;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;

}

.main-nav {
  color: grey;
  width: 20%;
  background-color: #f8f7f7;
  border-radius: 20px;
}

.navTop,
.navBot {
  border-bottom: 1px solid rgb(175, 170, 170);
}

.navBot {
  padding-bottom: 60px;
}

.selected,
.blackBtn {
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  padding-right: 20px;
}

.dash {
  color: #61dafb;
  padding-left: 10px;
}

.Container {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  color: grey;
  padding: 15px;
}

.navElement {
  display: block;
}

.logo,
.navElement,
.darkMode {
  padding: 10px 0;
  padding-right: 38px;
  margin: 20px;
}

.princie_position,
h1 {
  color: #000;
  font-weight: bold;
  font-size: 20px;

}

.greet {
  margin-left: 10px;
}

.search-cont {
  padding-left: 15px;
  display: flex;
}

.srch {
  padding-top: 5px;
  font-size: 25px;
}

.search {
  border: none;
  background-color: #f8f7f7;
  width: 600px;
  line-height: 25px;
  border-radius: 15px;

}

h1 {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-top: 30px;
}

p {
  margin: 0;
}

.monthDrop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: 50px;
  padding-top: 15px;

}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f8f7f7;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid rgb(149, 149, 149);
}

.blackBtn {
  height: 55px;
  padding-left: 15px;
  margin-left: 10px;

}